name: Build Android Release
on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Install dependencies
        run: npm install

      - name: Sync Android
        run: npx cap sync android

      # Decode keystore
      - name: Decode Keystore
        env:
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
        run: |
          echo "$KEYSTORE_BASE64" | base64 --decode > android/app/dron.keystore

      # Build Signed Release APK
      - name: Build Signed APK
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleRelease \
          -Pandroid.injected.signing.store.file=../app/dron.keystore \
          -Pandroid.injected.signing.store.password="${{ secrets.KEYSTORE_PASSWORD }}" \
          -Pandroid.injected.signing.key.alias="${{ secrets.KEY_ALIAS }}" \
          -Pandroid.injected.signing.key.password="${{ secrets.KEY_PASSWORD }}"



      # Show APK output path
      - name: Show APK output
        run: find android/app/build/outputs/apk -type f -name "*.apk" -print

      # Upload Signed APK
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Signed-App-Release
          path: android/app/build/outputs/apk/release/app-release.apk
